AppName: github.com/iss14036/music-chart
AppPort: 8080
DbUri: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
LogLevel: debug
Environment: development
DbDriver: postgres
DbLog: true
AuthKey: secret
AuthExpiration: 72